@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

// primary colors
$light-orange: #f97248;
$darker-orange: #f4523b;
$orange: #f0501e;

// Scroll
$scroll-dark: #8e0000;
$scroll-thumb: #ff5a45;
