.logo-container {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  width: 30%;

  span {
    font-size: 32px;
    font-weight: 700;
  }

  .beta {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 4px 8px;

    position: absolute;
    top: 8px;
    right: -64px;
  }
}

.left {
  position: relative;
  display: block;

  .pokemon-nav {
    display: flex;
    align-items: center;
    gap: 6px;

    cursor: pointer;

    span {
      font-weight: bold;
      font-size: 16px;
    }
  }

  .menu {
    position: absolute;

    background-color: #fff;
    padding: 12px;

    width: 100%;

    top: 67px;

    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.1));
    border-radius: 8px;

    ul {
      li {
        a {
          font-weight: 700;
        }
      }
    }
  }
}

header {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
